*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}

:root {
    font-size: 12px;
}

input:focus,
input:focus-visible {
    outline: none;
}

.container {
    display: flex;
}

.flex-column {
    flex-flow: column nowrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-space-around {
    justify-content: space-around;
}

.pixel-row {
    width: 100%;
    flex: 1;
}

.pixel {
    flex: 1;
    background-color: white;
}

.outlined {
    border: black 1px solid;
}

.settings-optn {
    padding: 0.2em 1em;
    border-radius: 1.2em;
    margin: 0 0.5rem;
}

.activated {
    background-color: rgb(251, 255, 0);
}

#main {
    min-height: 100vh;
}

#header {
    height: 5rem;
    font-size: 2.5rem;
}

#content {
    flex: 1;
    background-color: aliceblue;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
}

#sketch-box {
    width: 700px;
    height: 700px;
    border: grey 1px solid;
}

#settings {
    margin: 2rem 0;
    font-size: 1.7rem;
    flex-flow: wrap;
}

#box-size {
    width: 8ch;
    border-radius: 0.5em;
    margin-left: 0.4rem;
}

#footer {
    height: 3rem;
    font-size: 1.5rem;
}